*{
  box-sizing: border-box;

}


i.icon-2x {
  font-size: 30px;
}

.color-light{
    color:#FFFFFF;
}
.p-4{
width:100%;

}

.btn-style
{
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  display: inline-block;
    width:200px;
}
.btn-style {
  color: black;
  border: 2px black solid;
}

.btn-style:hover {
  background-color:#669999;
  color: black
}

/*Colored Content Boxes
------------------------------------*/
.box{

height:300px;
}

.servive-block {
  padding: 20px 30px;
  text-align: center;
  margin-bottom: 20px;
  height:250px;
}


.servive-block h2 {
  color: #fff;
}


.servive-block p{
height:50px; 
 color: #fff;
}


.servive-block h2 a:hover{
  text-decoration: none;
}

.servive-block-light,
.servive-block-default {
  background: #fafafa;
  border: solid 1px #eee; 
}

.servive-block-default:hover {
  box-shadow: 0 0 8px #eee;
}

.servive-block-light p,
.servive-block-light h2,
.servive-block-default p,
.servive-block-default h2 {
  color: #555;
}


.servive-block-blue {
  background: rgb(75, 101, 132);
}



.servive-block-pink{
background:#85adad;
}

.servive-block-parklife{
background: #ffb366;  
}

.servive-block-caramel{
background:#538cc6;

}

.servive-block btn{

margin-bottom:20px;
display:inline;
}



/* ------------------Responsive--------------*/

@media( max-width: 1920px) 

 {

}
@media (max-width: 768px) {

}


/*----mobile----*/
@media( max-width: 585px) {
.btn{
   width: 90%;
padding-left:5%;
padding-right:5%;
}

.servive-block {
  padding: 20px 30px;
  text-align: center;
  margin-bottom: 20px;
  height:60%;
}


}
/* ------------------ End Responsive--------------*/
