*{
  box-sizing: border-box;

}


i.icon-2x {
  font-size: 30px;
}

.color-light{
    color:#FFFFFF;
}
.p-4{
width:100%;

}

.btn{
background-color:rgb(26, 188, 156);
}

/*Colored Content Boxes
------------------------------------*/
.box{

height:300px;
}

.servive-block {
  padding: 20px 30px;
  text-align: center;
  margin-bottom: 20px;
  height:250px;
}


.servive-block h2 {
  color: #fff;
}


.servive-block p{
height:50px; 
 color: #fff;
}


.servive-block h2 a:hover{
  text-decoration: none;
}

.servive-block-light,
.servive-block-default {
  background: #fafafa;
  border: solid 1px #eee; 
}

.servive-block-default:hover {
  box-shadow: 0 0 8px #eee;
}

.servive-block-light p,
.servive-block-light h2,
.servive-block-default p,
.servive-block-default h2 {
  color: #555;
}


.servive-block-blue {
  background: rgb(75, 101, 132);
}



.servive-block-pink{
background:rgb(252, 92, 101);
}

.servive-block-parklife{
background: rgb(75, 123, 236);  
}

.servive-block-caramel{
background:rgb(253, 150, 68);

}

.servive-block btn{

margin-bottom:20px;
display:inline;
}

.btn{
    text-transform: none;
    background-color:transparent;
    border-style: solid;
    border-color: white;
}

/* ------------------Responsive--------------*/

@media( max-width: 1920px) 

 {

}
@media (max-width: 768px) {

}


/*----mobile----*/
@media( max-width: 585px) {
.btn{
   width: 90%;
padding-left:5%;
padding-right:5%;
}

.servive-block {
  padding: 20px 30px;
  text-align: center;
  margin-bottom: 20px;
  height:60%;
}


}
/* ------------------ End Responsive--------------*/
