
*{
  
    box-sizing: border-box;
}

main{
   width:100%;
}
.card
{
	margin: auto;
	text-align:center;
        width:20rem;
          margin-bottom:50px;
          height:400px;
}

.calendar{
       margin: auto;
       margin-bottom:50px;


}
