* {
    box-sizing: border-box;
}

h1 {
    color: black;
    font-family: 'Droid serif', serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 44px;
    margin: 0 0 12px;
    text-align: left;
    border-bottom: 1px solid #538cc6;
    border-width: 5px;
    width: 100%;
}

main {
    width: 100%;
}

.nav {
    width: 39%
}

.tab-content {
    width: 40%;
    float: left;
    display: inline;
    margin-right: 10%;

}

.report-levels {
    width: 40%;
    float: left;
}

.feel-pain {
    text-align: left;
    margin-bottom: 30px;
}



.btn-default {
    color: red;
    border-color: black;
}

.image {
    float: left;
    display: inline;
    margin-right: 50px;

}

.symp-img {

    height: 80px;
    width: 80px;
}

.check-img {
    float: right;
    display: none;
}

.image-info {
    margin-top: 15px;
    font-size: 15px;

}

.status {
    width: 50px;
}


input {
    float: right;
}

    input[type="radio"] {
    display: none;
}

.pointer {
  padding: 10px 23px;
  background-color: #00b3b3;
  border: thin solid;
  border-radius: 10px;
  margin:5px;
  display: inline-block;
    cursor: pointer;
}
.pointer:hover
{
    background-color: #006699; 
}
input[type="radio"]:checked + label {
    background-color: #006699;
    cursor: default;
    color: #E6E6E6;
}



#page-two {
    display: none;
}

#page-three {
    display: none;
}

.report-levels {
    display: none;
}

.level-selcet {
    height: 50px;
}


.container-levels {
    float: left;
    display: inline;
    position: relative;
    padding-left: 60px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.container-levels input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    width: 45px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */

.container-levels:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.radio-one input:checked ~ .checkmark {
    background-color: #269900;
}

.radio-two input:checked ~ .checkmark {
    background-color: #79ff4d;
}

.radio-three input:checked ~ .checkmark {
    background-color: #e6e600;
}

.radio-four input:checked ~ .checkmark {
    background-color: #ffaa00;
}

.radio-five input:checked ~ .checkmark {
    background-color: #ff0000;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.container-levels input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.container-levels .checkmark:after {
    left: 14px;
    top: 6px;
    width: 15px;
    height: 20px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);


}
.numbers
{
     margin-bottom: 30px;
}
.one-five {
    display: inline;
    font-size: 20px;
    margin-left: 15px;
    
}

.two {
    margin-left: 45px;
}

.three {
    margin-left: 45px;
}

.four {
    margin-left: 45px;
}

.five {
    margin-left: 40px;
}

.levels-btn
{
    float:right;
}
