
	.steps {
		width: 60%;

		list-style-type: none;
		text-align: left;
		margin-top: 20px;
		font-size: 120%;
	
	}


	.steps li {
		counter-increment: step-counter;
		margin-bottom: 10px;
		list-style-type: none;
		text-align: left;
		font-family: 'Signika', sans-serif;
	}


	.steps li::before {
		content: counter(step-counter);
		margin-right: 5px;
		font-size: 80%;
		background-color: rgb(83, 140, 198)!important;
		color: white;
		font-weight: bold;
		padding: 3px 8px;
		border-radius: 3px;
	}
